/* Empty. Add your own CSS if you like */
body {
    font-family : 'Open Sans',sans-serif;
}

header, footer {
    background-color:#333;
    color:#ddd;
    padding:8px;
    text-align:center;
}

header {
top:0;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    padding: 1rem;
    display:inline-block;
}

.users img{
    border-radius: 15px;
    height:30px;
    text-align:center;
}

.thread{
    padding:5px;
    border:solid 1px #e9eaed;
    margin:4px;
    cursor:pointer;
}

 /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;*/

.selectpicker {
 display:inline-block;
 width:100%;
 height:30px;
}

.selectpicker option{
    height:30px;
}

.subject:hover {
    border:solid 1px #e9eaed;
}

.tags {
    background-color: #afafaf;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: normal !important;
    margin: 2px;
    padding: 1px 15px 1px 2px;
    position: relative;
    vertical-align: top;
}

.tagclose {
    border-radius: 0 2px 2px 0;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 7px;
    margin: 0 0 0 5px;
    padding: 6px 5px 4px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
}

.tagclose:hover {
    color: #000;
    background-color: #8cf;
}

.tagsdiv {
    /* border: 1px solid #abadb3; */
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    /* display: inline-block; */
    text-decoration: none;
}

    .tagsdiv:hover {
    border:solid 1px #e9eaed;
    }

.adddropdown {
    position: absolute;
    top: -9999px;
    list-style: none;
    margin-left: 0;
    width: 100%;
    max-height: none;
    height: auto;
    background: white;
    border: solid 1px #cccccc;
    font-size: 16px;
    z-index: 99;
    margin-top: 2px;
    max-width: 200px;
}